.header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem;
    border-bottom: 2px solid gainsboro;
    background: #fff;
}

.logo {


    a {
        font-size: 34px;
        font-weight: 600;
        color: black;
        text-decoration: none;
    }
}

.search {
    width: 40%;
    margin: 0 1rem;
}

.nav {

}

.list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.list_item {
    margin-right: 15px;
    font-size: 0;
}

.list_item:last-child {
    margin-right: 0;
}

.list_item svg {
    width: 24px;
    height: 24px;
    color: black;
}