.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.background {
    max-width: 100%;
    display: block;
    margin-top: auto;
    object-fit: cover;
}

:root {
    --form-control-color: rebeccapurple;
    --form-control-disabled: #959495;
}

.wrapper {
    font-family: 'Lexend Deca', sans-serif;
    max-width: 347px;
    min-width: 320px;
    margin: 0 auto;
}

.link {
    color: #000;
    text-decoration: none;
}

.title {
    font-size: 64px;
    line-height: 80px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.input_label {
    text-transform: capitalize;
    font-size: 16px;
}

.input {
    margin: 10px 0;
    padding: 12px 20px;
    border-radius: 10px;
    background-color: #224957;
    color: white;
    outline: none;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.input::placeholder {
    color: white;
}

.labels {
    margin: 24px 0;
    text-align: center;
}

.error {
    color: red;
    text-align: center;
    font-size: 16px;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.checkbox span {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently not supported by any browser */
    margin-left: 10px;
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
    color: var(--form-control-disabled);
    cursor: not-allowed;
}
